{% extends 'base.html' %}
{% block content %}
<div
  class="bg-image"
  style="
    background-image: url('https://drive.google.com/file/d/1yNRxjhq0rEK5rTwpH7uZo-tB-_Iu0L05/view?usp=sharing');
    height: 100vh;
  "
>
<h6>Version 1.0</h6>
<h1 class="mt-4 mb-4">Project420 - Flower Review Form -</h1>
<h5 class="mt-3 mb-4">Please don't abuse this form, this is for research purposes. Please only enter valid information.</h5>
<h6 class="mt-3 mb-4">But Please use it as many times as you want! The more, the better! Thank You!</h6>
    <form method="post">
    {% csrf_token %}
        <div class="mt-4 mb-4">
            <label for="first_name">First Name      / Please use an Alias if you would like to remain Anonymous </label>
            <input class="form-control" type="text" placeholder="Snoop, Tommy, Willie, Bob, Woody, Seth" aria-label="default input example" id="first_name" name="first_name" required>
            <label for="last_name">Last Name</label>
            <input class="form-control" type="text" placeholder="Dogg, Chong, Nelson, Marley, Nelson, Rogen" aria-label="default input example" id="last_name" name="last_name" required>
        </div>
        <div class="form-group mb-4">
            <label for="email">Enter an Email address:</label>
            <input class="form-control" type="email" placeholder="You@Youremail.com" aria-label="default input example" id="email" name="email" required>
        </div>
        <div class="form-group mb-4">
            <label for="date">Purchase Date</label>
            <input class="form-control" type="date" id="date" name="date" required>
        </div>
        <div class="mt-4 mb-4">
            <label for="strain_name">Strain Name:</label>
            <input class="form-control" type="text" placeholder="Pineapple Super Silver Haze, ManBearPig OG, Girl Scout Cookies..." aria-label="default input example" id="strain_name" name="strain_name" required>
        </div>
        <div class="mt-4 mb-4">
            <label for="grow_info">Grower Name</label>
            <input class="form-control" type="text" placeholder="Topshelf, FiftyFold, Fire Bros..." aria-label="default input example" id="grow_info" name="grow_info" required>
        </div>
        <h5 class="mt-3 mb-4">Only 1 response is allowed per section:</h5>
        <div class="form-group mb-4">
            <label>Strain Type:</label>
            <div class="btn-group-horizontal" id="strain_id">
                <input class="btn-check form-check-input" type="radio" id="sativa" name="strain_id" value="sativa" required>
                <label class="btn btn-outline-secondary" for="sativa">Sativa</label>

                <input class="btn-check form-check-input" type="radio" id="sativa_hybrid" name="strain_id" value="sativa_hybrid" required>
                <label class="btn btn-outline-secondary" for="sativa_hybrid">Sativa-Hybrid</label>

                <input class="btn-check form-check-input" type="radio" id="indica_hybrid" name="strain_id" value="indica_hybrid" required>
                <label class="btn btn-outline-secondary" for="indica_hybrid">Indica-Hybrid</label>

                <input class="btn-check form-check-input" type="radio" id="indica" name="strain_id" value="indica" required>
                <label class="btn btn-outline-secondary" for="indica">Indica</label>
            </div>
        </div>
         <div class="form-group mb-4">
            <label>THC Level:</label>
            <div class="btn-group-horizontal" id="strain_THC">
                <input class="btn-check form-check-input" type="radio" id="20_less" name="strain_THC" value="20_less" required>
                <label class="btn btn-outline-secondary" for="20_less">20 or Less</label>

                <input class="btn-check form-check-input" type="radio" id="21_25" name="strain_THC" value="21_25" required>
                <label class="btn btn-outline-secondary" for="21_25">21-25</label>

                <input class="btn-check form-check-input" type="radio" id="26_30" name="strain_THC" value="26_30" required>
                <label class="btn btn-outline-secondary" for="26_30">26-30</label>

                <input class="btn-check form-check-input" type="radio" id="31_34" name="strain_THC" value="31_34" required>
                <label class="btn btn-outline-secondary" for="31_34">31-34</label>
                <input class="btn-check form-check-input" type="radio" id="35_plus" name="strain_THC" value="35_plus" required>
                <label class="btn btn-outline-secondary" for="35_plus">35 Plus</label>
            </div>
        </div>
        <div class="form-group mb-4">
            <label>Flower Base Color:</label><br>
            <div class="btn-group-horizontal" id="flower_color">
                <input class="btn-check form-check-input" type="radio" id="light_green" name="flower_color" value="light_green" required>
                <label class="btn btn-outline-secondary" for="light_green">Light Green</label>

                <input class="btn-check form-check-input" type="radio" id="green" name="flower_color" value="green" required>
                <label class="btn btn-outline-secondary" for="green">Green</label>

                <input class="btn-check form-check-input" type="radio" id="dark_green" name="flower_color" value="dark_green" required>
                <label class="btn btn-outline-secondary" for="dark_green">Dark Green</label>

                <input class="btn-check form-check-input" type="radio" id="brown" name="flower_color" value="brown" required>
                <label class="btn btn-outline-secondary" for="brown">Brown</label>

                <input class="btn-check form-check-input" type="radio" id="yellow" name="flower_color" value="yellow" required>
                <label class="btn btn-outline-secondary" for="yellow">Yellow</label>

                <input class="btn-check form-check-input" type="radio" id="gold" name="flower_color" value="gold" required>
                <label class="btn btn-outline-secondary" for="gold">Gold</label>

                <input class="btn-check form-check-input" type="radio" id="purple_base" name="flower_color" value="purple_base" required>
                <label class="btn btn-outline-secondary" for="purple_base">Purple</label>
            </div>
        <div class="form-group mb-4"> <br>
            <label>Flower Accent(s):</label><br>
            <div class="btn-group-horizontal" id="flower_color2">
                <input class="btn-check form-check-input" type="radio" id="crystal" name="flower_color2" value="crystal" required>
                <label class="btn btn-outline-secondary" for="crystal">Crystals</label>

                <input class="btn-check form-check-input" type="radio" id="hairs" name="flower_color2" value="hairs" required>
                <label class="btn btn-outline-secondary" for="hairs">Hairs</label>

                <input class="btn-check form-check-input" type="radio" id="purple_accent" name="flower_color2" value="purple_accent" required>
                <label class="btn btn-outline-secondary" for="purple_accent">Purple</label>
            </div>
        </div>
            <div class="form-group mb-4">
                <label>Appearance of Flower:</label>
                <div class="btn-group-horizontal" id="flower_texture">
                <input class="btn-check form-check-input" type="radio" id="dense" name="flower_texture" value="dense" required>
                <label class="btn btn-outline-secondary" for="dense">Solid tight</label>

                <input class="btn-check form-check-input" type="radio" id="sticky" name="flower_texture" value="sticky" required>
                <label class="btn btn-outline-secondary" for="sticky">Sticky</label>

                <input class="btn-check form-check-input" type="radio" id="dry" name="flower_texture" value="dry" required>
                <label class="btn btn-outline-secondary" for="dry">Dry</label>

                <input class="btn-check form-check-input" type="radio" id="crumbly" name="flower_texture" value="crumbly" required>
                <label class="btn btn-outline-secondary" for="crumbly">Crumbly</label>
            </div>
        </div>
            <div class="form-group mb-4">
                <label>Feel of Flower:</label>
                <div class="btn-group-horizontal" id="flower_density">
                <input class="btn-check form-check-input" type="radio" id="tight_dense" name="flower_density" value="tight_dense" required>
                <label class="btn btn-outline-secondary" for="tight_dense">Tight Dense</label>

                <input class="btn-check form-check-input" type="radio" id="tight" name="flower_density" value="tight" required>
                <label class="btn btn-outline-secondary" for="tight">Tight</label>

                <input class="btn-check form-check-input" type="radio" id="loose" name="flower_density" value="loose" required>
                <label class="btn btn-outline-secondary" for="loose">Loose</label>

                <input class="btn-check form-check-input" type="radio" id="flaky" name="flower_density" value="flaky" required>
                <label class="btn btn-outline-secondary" for="flaky">Crumbly/Flaky</label>

                <input class="btn-check form-check-input" type="radio" id="soft_fuzzy" name="flower_density" value="soft_fuzzy" required>
                <label class="btn btn-outline-secondary" for="soft_fuzzy">Soft/Fuzzy</label>
        </div>
            <div class="form-group mb-4"><br>
                <label>Aroma Profile:</label>
                <div class="btn-group-horizontal" id="flower_aroma">
                <input class="btn-check form-check-input" type="radio" id="citrus_smell" name="flower_aroma" value="citrus_smell" required>
                <label class="btn btn-outline-secondary" for="citrus_smell">Citrus</label>

                <input class="btn-check form-check-input" type="radio" id="pine_smell" name="flower_aroma" value="pine_smell" required>
                <label class="btn btn-outline-secondary" for="pine_smell">Pine</label>

                <input class="btn-check form-check-input" type="radio" id="earthy_smell" name="flower_aroma" value="earthy_smell" required>
                <label class="btn btn-outline-secondary" for="earthy_smell">Earthy</label>

                <input class="btn-check form-check-input" type="radio" id="skunky_smell" name="flower_aroma" value="skunky_smell" required>
                <label class="btn btn-outline-secondary" for="skunky_smell">Berry</label>

                <input class="btn-check form-check-input" type="radio" id="minty" name="flower_aroma" value="minty" required>
                <label class="btn btn-outline-secondary" for="minty">Minty</label>

                <input class="btn-check form-check-input" type="radio" id="spice_herb" name="flower_aroma" value="spice_herb" required>
                <label class="btn btn-outline-secondary" for="spice_herb">Spicy/Herbal</label>

                <input class="btn-check form-check-input" type="radio" id="woody" name="flower_aroma" value="woody" required>
                <label class="btn btn-outline-secondary" for="woody">Woody</label>

                <input class="btn-check form-check-input" type="radio" id="nutty" name="flower_aroma" value="nutty" required>
                <label class="btn btn-outline-secondary" for="nutty">Nutty</label>

                <input class="btn-check form-check-input" type="radio" id="cheese" name="flower_aroma" value="cheese" required>
                <label class="btn btn-outline-secondary" for="cheese">Cheese</label>

                <input class="btn-check form-check-input" type="radio" id="diesel" name="flower_aroma" value="diesel" required>
                <label class="btn btn-outline-secondary" for="diesel">Diesel</label>

                <input class="btn-check form-check-input" type="radio" id="chocolate" name="flower_aroma" value="chocolate" required>
                <label class="btn btn-outline-secondary" for="chocolate">Chocolate</label>

                <input class="btn-check form-check-input" type="radio" id="sweet" name="flower_aroma" value="sweet" required>
                <label class="btn btn-outline-secondary" for="sweet">Sweet</label>
        </div><br>
            <div class="form-group mb-4">
                <label>Initial taste when smoked:</label>
                <div class="btn-group-horizontal" id="flower_flavor">
                <input class="btn-check form-check-input" type="radio" id="citrus" name="flower_flavor" value="citrus" required>
                <label class="btn btn-outline-secondary" for="citrus">Citrus</label>

                <input class="btn-check form-check-input" type="radio" id="pine" name="flower_flavor" value="pine" required>
                <label class="btn btn-outline-secondary" for="pine">Pine</label>

                <input class="btn-check form-check-input" type="radio" id="earthy" name="flower_flavor" value="earthy" required>
                <label class="btn btn-outline-secondary" for="earthy">Earthy</label>

                <input class="btn-check form-check-input" type="radio" id="skunky" name="flower_flavor" value="skunky" required>
                <label class="btn btn-outline-secondary" for="skunky">Skunky</label>

                <input class="btn-check form-check-input" type="radio" id="sour_taste" name="flower_flavor" value="sour_taste" required>
                <label class="btn btn-outline-secondary" for="sour_taste">Sour</label>

                <input class="btn-check form-check-input" type="radio" id="cat_piss_taste" name="flower_flavor" value="cat_piss_taste" required>
                <label class="btn btn-outline-secondary" for="cat_piss_taste">Cat Piss</label>

                <input class="btn-check form-check-input" type="radio" id="fertilizer_taste" name="flower_flavor" value="fertilizer_taste" required>
                <label class="btn btn-outline-secondary" for="fertilizer_taste">Fertilizer</label>

                <input class="btn-check form-check-input" type="radio" id="diesel_taste" name="flower_flavor" value="diesel_taste" required>
                <label class="btn btn-outline-secondary" for="diesel_taste">Diesel</label>
        </div><br>
            <div class="form-group mb-4">
                <label>Aftertaste when smoked:</label>
                <div class="btn-group-horizontal" id="flower_flavor2">
                    <input class="btn-check form-check-input" type="radio" id="citrus2" name="flower_flavor2" value="citrus2" required>
                    <label class="btn btn-outline-secondary" for="citrus2">Citrus</label>

                    <input class="btn-check form-check-input" type="radio" id="pine2" name="flower_flavor2" value="pine2" required>
                    <label class="btn btn-outline-secondary" for="pine2">Pine</label>

                    <input class="btn-check form-check-input" type="radio" id="earthy2" name="flower_flavor2" value="earthy2" required>
                    <label class="btn btn-outline-secondary" for="earthy2">Earthy</label>

                    <input class="btn-check form-check-input" type="radio" id="skunky2" name="flower_flavor2" value="skunky2" required>
                    <label class="btn btn-outline-secondary" for="skunky2">Skunky</label>

                    <input class="btn-check form-check-input" type="radio" id="sour_aftertaste" name="flower_flavor2" value="sour_aftertaste" required>
                    <label class="btn btn-outline-secondary" for="sour_aftertaste">Sour</label>

                    <input class="btn-check form-check-input" type="radio" id="cat_piss_aftertaste" name="flower_flavor2" value="cat_piss_aftertaste" required>
                    <label class="btn btn-outline-secondary" for="cat_piss_aftertaste">Cat Piss</label>

                    <input class="btn-check form-check-input" type="radio" id="fertilizer_aftertaste" name="flower_flavor2" value="fertilizer_aftertaste" required>
                    <label class="btn btn-outline-secondary" for="fertilizer_aftertaste">Fertilizer</label>

                    <input class="btn-check form-check-input" type="radio" id="diesel_aftertaste" name="flower_flavor2" value="diesel_aftertaste" required>
                    <label class="btn btn-outline-secondary" for="diesel_aftertaste">Diesel</label>
        </div><br>
            <div class="form-group mb-4">
                    <label>How did you feel after? (Select 1 from each section):</label>
                    <div class="btn-group-horizontal" id="flower_effect">
                    <input class="btn-check form-check-input" type="radio" id="happy" name="flower_effect" value="happy" required>
                    <label class="btn btn-outline-secondary" for="happy">Uplifting</label>

                    <input class="btn-check form-check-input" type="radio" id="energy" name="flower_effect" value="energy" required>
                    <label class="btn btn-outline-secondary" for="energy">Balanced</label>

                    <input class="btn-check form-check-input" type="radio" id="euphoria" name="flower_effect" value="euphoria" required>
                    <label class="btn btn-outline-secondary" for="euphoria">Creative</label>

                    <input class="btn-check form-check-input" type="radio" id="hungry" name="flower_effect" value="hungry" required>
                    <label class="btn btn-outline-secondary" for="hungry">Euphoric</label>
        </div><hr>
            <div class="btn-group-horizontal" id="flower_effect2">
                    <input class="btn-check form-check-input" type="radio" id="happy_eff2" name="flower_effect2" value="happy_eff2" required>
                    <label class="btn btn-outline-secondary" for="happy_eff2">Happy</label>

                    <input class="btn-check form-check-input" type="radio" id="energy_eff2" name="flower_effect2" value="energy_eff2" required>
                    <label class="btn btn-outline-secondary" for="energy_eff2">Energetic</label>

                    <input class="btn-check form-check-input" type="radio" id="hungry_eff2" name="flower_effect2" value="hungry_eff2" required>
                    <label class="btn btn-outline-secondary" for="hungry_eff2">Hungry</label>

                    <input class="btn-check form-check-input" type="radio" id="sleep_eff2" name="flower_effect2" value="sleep_eff2" required>
                    <label class="btn btn-outline-secondary" for="sleep_eff2">Sleepy</label>

                    <input class="btn-check form-check-input" type="radio" id="relaxed2" name="flower_effect2" value="relaxed2" required>
                    <label class="btn btn-outline-secondary" for="relaxed2">Relaxed</label>

                    <input class="btn-check form-check-input" type="radio" id="curious2" name="flower_effect2" value="curious2" required>
                    <label class="btn btn-outline-secondary" for="curious2">Curious</label>

                    <input class="btn-check form-check-input" type="radio" id="focused2" name="flower_effect2" value="focused2" required>
                    <label class="btn btn-outline-secondary" for="focused2">Focused</label>

                    <input class="btn-check form-check-input" type="radio" id="paranoid2" name="flower_effect2" value="paranoid2" required>
                    <label class="btn btn-outline-secondary" for="paranoid2">Paranoid</label>
        </div> <br>
             <div class="form-group mb-4">
                        <label>How long did the High last?</label>
                        <div class="btn-group-horizontal" id="flower_effect3">
                        <input class="btn-check form-check-input" type="radio" id="short" name="flower_effect3" value="short" required>
                        <label class="btn btn-outline-secondary" for="short">Way to short</label>

                        <input class="btn-check form-check-input" type="radio" id="OK" name="flower_effect3" value="OK" required>
                        <label class="btn btn-outline-secondary" for="OK">Ehh... it was OK</label>

                        <input class="btn-check form-check-input" type="radio" id="good" name="flower_effect3" value="good" required>
                        <label class="btn btn-outline-secondary" for="good">It was pretty good</label>

                        <input class="btn-check form-check-input" type="radio" id="great" name="flower_effect3" value="great" required>
                        <label class="btn btn-outline-secondary" for="great">That was some great shit!</label>
        </div> <br>
             <div class="form-group mb-4">
                        <label>Medical Use?</label>
                        <div class="btn-group-horizontal" id="flower_effect3">
                        <input class="btn-check form-check-input" type="radio" id="pain_relief" name="flower_effect3" value="pain_relief" required>
                        <label class="btn btn-outline-secondary" for="pain_relief">Pain Relief</label>

                        <input class="btn-check form-check-input" type="radio" id="anxiety_stress" name="flower_effect3" value="anxiety_stress" required>
                        <label class="btn btn-outline-secondary" for="anxiety_stress">Anxiety and Stress Relief</label>

                        <input class="btn-check form-check-input" type="radio" id="sleep_aid" name="flower_effect3" value="sleep_aid" required>
                        <label class="btn btn-outline-secondary" for="sleep_aid">Sleep Aid</label>

                        <input class="btn-check form-check-input" type="radio" id="appetite_stimulation" name="flower_effect3" value="appetite_stimulation" required>
                        <label class="btn btn-outline-secondary" for="appetite_stimulation">Appetite Stimulation</label>

                        <input class="btn-check form-check-input" type="radio" id="not_app" name="flower_effect3" value="not_app" required>
                        <label class="btn btn-outline-secondary" for="not_app">N/A (none)</label>
        </div><br>
             <div class="form-group mb-4">
                        <label>Overall Rating 1-5 (5 being the best):</label>
                        <div class="btn-group-horizontal" id="user_rating">
                        <input class="btn-check form-check-input" type="radio" id="one" name="user_rating" value="one" required>
                        <label class="btn btn-outline-secondary" for="one">1</label>

                        <input class="btn-check form-check-input" type="radio" id="two" name="user_rating" value="two" required>
                        <label class="btn btn-outline-secondary" for="two">2</label>

                        <input class="btn-check form-check-input" type="radio" id="three" name="user_rating" value="three" required>
                        <label class="btn btn-outline-secondary" for="three">3</label>

                        <input class="btn-check form-check-input" type="radio" id="four" name="user_rating" value="four" required>
                        <label class="btn btn-outline-secondary" for="four">4</label>

                        <input class="btn-check form-check-input" type="radio" id="five" name="user_rating" value="five" required>
                        <label class="btn btn-outline-secondary" for="five">5</label>
        </div>
            <div class="mt-4 mb-4">
                        <label for="user_notes">Please enter any comments you have about this strain: (Did you like it? will you buy it again?)</label>
                        <input class="form-control" type="text" id="user_notes" name="user_notes" required>
                    </div>
            <button class="btn btn-secondary mb-4" type="submit">Submit</button>
            {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
    </form>
</div>
{% endblock %}